[commits]

; Check if the current commit matches this regexp
; {{BRANCH}} - replaced with current branch
;regexp="^{{BRANCH}}:.*$"
regexp="^(MDR-[0-9]{3,10}):.*$"

; This option check also that we commit on the right branch
; {{MATCH}} - extract one match from regexp
branch="^{{MATCH}}[^0-9]"